[submodule "ethernaut/foundry/lib/forge-std"]
	path = ethernaut/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethernaut/foundry/lib/openzeppelin-contracts"]
	path = ethernaut/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
